<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title style="text-align: center">Cappelli Inside</ion-title>
    </ion-toolbar>
  </ion-header>

  <div text-center style="margin-top : 100px">
    <ion-button (click)="changePageCheveux()" class="button1"
      >Cheveux</ion-button
    >
  </div>
  <div text-center>
    <ion-button (click)="changePageVisage()" class="button1">Visage</ion-button>
  </div>
  <div text-center>
    <ion-button (click)="changePageCorps()" class="button1">Corps</ion-button>
  </div>
</ion-content>
